@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

input,textarea{
  font-family: "Outfit", sans-serif;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.input-box {
  .label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    color: #24272C;
    margin-bottom: 6px;
    text-align: left;
  }

  .input-wrap {
    position: relative;

    .input {
      display: block;
      width: 100%;
      border-radius: 14px;
      padding: 16px 20px 16px 43px;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid #EDEDED;
      background: #fff;
      -webkit-appearance: none;
      outline: none;
    }

    &:focus {
      border-color: #FF7101;
    }
  }
}

select {
  background-image: url('./assets/images/chevron-down.svg');
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  cursor: pointer;
}
